<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PFCM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B521B6AA1E47AD7400F5522F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B521B6BE1E47AD7400F5522F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B521B6C91E47AD7400F5522F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
